<div class="contents">
  <div class="contact">
  Contact
  </div>
  <div class="form">
    <h3>お問い合わせ</h3>
    <br>
    <br>
    <p>会社名</p>
    <input type="text" placeholder="会社名">
    <br>
    <br>
    <p>担当者のお名前</p>
    <input type="text" placeholder="お名前">
  </div>
</div>