<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Syooooring</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="contents">
  <div class="content">
    Profile
  </div>
  <div class="probox">
    <h3>自己紹介</h3>
    <p>1991年生まれ  28歳</p>
    <p>2011年3月  大阪府立桜塚高等学校を卒業後すぐ、株式会社鳥周にアルバイト入社</p>
    <p>2013年1月  正式入社</p>
    <p>2019年9月  エンジニアを目指す為、退社</p>
    <p>2019年10月  プログラミングスクール テックエキスパート入校</p>
    <p>2019年12月  テックエキスパート卒業</p>
    <p>2020年1月〜現在  就職活動と並行してプログラミングを勉強中</p>
    <br>
    <br>
    <h3>学習歴</h3>
    <p>Progateを利用し、独学でHTML、CSS、 JavaScriptを学習（6月~9月）</p>
    <p>プログラミングスクールに入校【テックエキスパート】（10月~12月）</p>
    <p>HTML5、CSS3、haml、sass、Ruby、 Ruby on Rails、JavaScript、jQuery、AWS、Git、GitHubなど</p>
    <p>Slack、Trello</p>
    <br>
    <br>
    <h3>開発</h3>
    <p>チーム開発として、1ヶ月間でメルカリのコピーサイトを制作しました。一週間ごとにスプリントレビューを行うアジャイル開発をしました。</p>
    <br>
    <br>
    <h3>現在の学習内容</h3>
    <p>就職活動をしながら、Udemyの教材などを購入し、個人アプリ開発と並行しながらコツコツ進めています。</p>
    <p>PHP、Python、MySQL、jQuery-UI、Bootstrap、WordPress</p>
    <p>個人アプリに関してはポートフォリオのページに載せています。</p>
    <br>
    <br>
    <h3>性格や特徴</h3>
    <p>思いやり</p>
    <p>意思が強い</p>
    <p>我慢強さ</p>
    <p>真面目さ</p>
    <p>主体的な行動力</p>
    <br>
    <br>
    <h3>趣味</h3>
    <p>バンド（ドラム）</p>
    <p>アニメ</p>
    <p>車</p>
    <p>バイク</p>

  </div>
</div>