<div class="contents">
  <div class="content">
    Profile
  </div>
  <div class="probox">
    <h3>自己紹介</h3>
    <p>1991年生まれ  28歳</p>
    <p>2011年3月  大阪府立桜塚高等学校を卒業後すぐ、株式会社鳥周にアルバイト入社</p>
    <p>2013年1月  正式入社</p>
    <p>2019年9月  エンジニアを目指す為、退社</p>
    <p>2019年10月  プログラミングスクール テックエキスパート入校</p>
    <p>2019年12月  テックエキスパート卒業</p>
    <p>2020年1月〜現在  就職活動と並行してプログラミングを勉強中</p>
    <br>
    <br>
    <h3>学習歴</h3>
    <p>Progateを利用し、独学でHTML、CSS、 JavaScriptを学習（6月~9月）</p>
    <p>プログラミングスクールに入校【テックエキスパート】（10月~12月）</p>
    <p>HTML5、CSS3、haml、sass、Ruby、 Ruby on Rails、JavaScript、jQuery、AWS、Git、GitHubなど</p>
    <p>Slack、Trello</p>
    <br>
    <br>
    <h3>開発</h3>
    <p>チーム開発として、1ヶ月間でメルカリのコピーサイトを制作しました。一週間ごとにスプリントレビューを行うアジャイル開発をしました。</p>
    <br>
    <br>
    <h3>現在の学習内容</h3>
    <p>就職活動をしながら、Udemyの教材などを購入し、個人アプリ開発と並行しながらコツコツ進めています。</p>
    <p>PHP、Python、MySQL、jQuery-UI、Bootstrap、WordPress</p>
    <p>個人アプリに関してはポートフォリオのページに載せています。</p>
    <br>
    <br>
    <h3>性格や特徴</h3>
    <p>思いやり</p>
    <p>意思が強い</p>
    <p>我慢強さ</p>
    <p>真面目さ</p>
    <p>主体的な行動力</p>
    <br>
    <br>
    <h3>趣味</h3>
    <p>バンド（ドラム）</p>
    <p>アニメ</p>
    <p>車</p>
    <p>バイク</p>
  </div>
  <div class="works">
    <h3>会社での役割</h3>
    <br>
    <p>前職では、食肉を扱う工場で１０年間働いていました。</p>
    <p>在庫管理、発注などを担当。</p>
    <p>その他にも、約１０名の新人教育を担当しました。</p>
    <p>前職では、多くの新人が２週間足らずで辞めていくという大きな課題があり、</p>
    <p>私は長期的に成長する為に何をすべきか考えました。工夫した事は３点あります。</p>
    <p>１点目は、自分が新人だった時の事を思い出して相手の立場、状況に立ち、相手の意見聞く事を大切にしました。</p>
    <p>２点目としては、継続が大事だと考え上司との相談の上、新人と積極的にコミュニケーションを取り、緊張感を和らげて指導。</p>
    <p>３点目としては、最初の出来ない段階でも怒るのではなく、信頼して一通り仕事を任せる事を徹底しました。</p>
    <p>その結果、私の担当した新人は最低でも１年間継続して働いてくれました。中には１０年間勤務してくれた人も居ました。</p>
    <p>自身の強みを生かし、今後は皆から頼られるようなエンジニアになれればと思っています。</p>
    <br>
    <br>
    <br>
    <h3>プログラミングに対する関心</h3>
    <br>
    <p>コミュニティサイトを自分で作ってみたいと思ったのが私のエンジニアを目指すきっかけでした。</p>
    <p>趣味に関するコミュニティサイトを利用している際、私は１つのジャンルに特化したサイトがあればと思っていました。</p>
    <p>他にも「こんな機能があれば」と考え自分で作られないかとインターネットなどで調べたところ、</p>
    <p>オンラインで勉強できるProgateを知り、少し触ってみたところ自分自身が書いたコードでシステムが動くのを体感し、</p>
    <p>ますます興味を持つようになりました。そこで本格的に転職を考え、</p>
    <p>TECH::EXPERT（アウトプット重視の600時間のカリキュラム）への通学を決意しました。</p>
    <p>TECH::EXPERTでプログラミングを勉強する中で、構造、仕組みの理解をはじめ、</p>
    <p>実際に思い描いたものが形になる事の素晴らしさ、チームメンバーと共有したりエラー解決を行う大切さを学びました。</p>
  </div>
</div>